global
    daemon
    maxconn 1024

defaults
    mode http
    timeout connect 2500ms
    timeout client 25000ms
    timeout server 25000ms

frontend http
    bind *:80
    default_backend http

backend http
    balance roundrobin
    default-server check maxconn 512
    server docker1 172.27.11.100:80
    server docker2 172.27.11.200:80